# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tailored_in
POSTGRES_SCHEMA=public

# Misc
TZ=UTC
API_PORT=8000
NODE_ENV=development

# API Keys
CLAUDE_API_KEY=missing_api_key
