.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.remote {
  font-weight: bold;

  &.is-remote {
    color: #40883d;
  }

  &.is-on-site {
    color: #ae2626;
  }

  &.is-hybrid {
    color: #22778a;
  }

  &.-is-unknown {
    color: blueviolet;
  }
}

.status-select-container {
  margin-top: 32px!important;
}

.salary {
  font-weight: bold;
}

.row--applied {
    background-color: #76a88d !important;
}

.row--not-applied {
    background-color: #d6ab96 !important;
}

#main-container {
  width: 100%;
  padding: 10px;
  height: 1200px;
  display: flex;
  flex-direction: row;
}

#jobs-data-grid {
  height: 100%;
  width: 50%;
  overflow-y: scroll;
}

#job-details-container {
  height: 100%;
  width: calc(50% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  display: flex;
  flex-direction: row;
  /*overflow-y: hidden;*/
}

#job-details-actions-container {
  display: flex;
  width: calc(100% - 30px);
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  margin: 15px;
}

#job-details-description-container {
  height: 1100px;
  overflow-y: scroll;
  font-size: 20px;
  margin: 30px;
}
